<!DOCTYPE html>
<html>

<head>
  <title>Logout</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f2f2f2;
    }

    h1 {
      color: #333;
    }

    p {
      font-size: 18px;
      margin: 20px 0;
    }

    a {
      text-decoration: none;
      background-color: #007BFF;
      color: #fff;
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: bold;
      transition: background-color 0.3s;
    }

    a:hover {
      background-color: #0056b3;
    }
  </style>
</head>

<body>
  <h1>Logout</h1>
  <p>You have been successfully logged out.</p>
  <a href="/">Return to Home</a>
</body>

</html>